
@{
    ViewBag.Title = "Details";
}

@model WeNet_MusicWebApp.Models.Music

<div class="contentsite" style="margin-top:20px;">
    <h1>
        @Html.DisplayFor(model => model.MusicName)
    </h1>

    <h3>
        This music has been proposed by
        <span>@Html.DisplayFor(model => model.ProposedBy)</span>.
    </h3>

    <h6>
        @Html.DisplayFor(model => model.Description)
    </h6>

    @using (Html.BeginForm("Index", "Playlist", FormMethod.Get))
    {
        <button type="submit" class="btn btn-primary">Show Playlist</button>
    }



</div>





